<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>

  <body>
    <%- include ('./partials/header') %> <%- include ('./partials/header') %>

    <main class="mainCatalogo">
      <h2>Nuestros servicios fotográficos</h2>

      <section>
        <% for(let i =0; i < products.length; i++) { %>
        <article class="producto">
          <img src="/images/imgP/<%= products[i].fotoProducto %>" alt="" />
          <p><%= products[i].nombre %></p>
          <p><%= products[i].descripcion %></p>
          <p>$ <%= products[i].precio %></p>
          <div class="carritoProductos">
            <a href="/Carrito"><i class="fas fa-shopping-cart"></i></a>
          </div>
        </article>

        <%}%>
      </section>
    </main>

    <%- include ('./partials/footer') %>
  </body>
</html>
