<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>

  <body>
    <%- include ('./partials/header') %>
    <main id="carnet">
      <br /><br /><br /><br />
      <h2>LISTADO DE PRODUCTOS</h2>

      <section class="mainUser">
        <% for(let i =0; i < products.length; i++) { %>
        <div id="carnetUsers">
          <figure class="figureUser">
            <img src="/images/icons/usuario.png" alt="" />
          </figure>

          <article class="articleUser">
            <p><b>productoID: </b> <%= products[i].productoID %></p>
            <p><b>nombre: </b> <%= products[i].nombre %></p>
            <p><b>descripcion: </b> <%= products[i].descripcion %></p>
            <p><b>tipoproducto: </b> <%= products[i].tipoproducto %></p>
            <p><b>tamanoproducto: </b> <%= products[i].tamanoproducto %></p>
            <p><b>precio: </b> <%= products[i].precio %></p>
            <p><b>image: </b> <%= products[i].image %></p>

            <form
              action="/products/delete/<%= products[i].productoID %>"
              method="POST"
            >
              <button type="submit" class="LoginButton">Eliminar</button>
            </form>
            <form
              action="/products/edit/<%= products[i].productoID %>"
              method="GET"
            >
              <button type="submit" class="LoginButton">Editar</button>
            </form>
          </article>
        </div>
        <% } %>
      </section>
    </main>

    <%- include ('./partials/footer') %>
  </body>
</html>
