<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>

  <body>
    <%- include ('./partials/header') %> <%- include ('./partials/header') %>
    <main id="carnet">
      <br /><br /><br /><br />
      <h2>LISTADO DE USUARIOS</h2>

      <section class="mainUser">
        <% for(let i =0; i < users.length; i++) { %>
        <div id="carnetUsers">
          <figure class="figureUser">
            <img src="/images/icons/usuario.png" alt="" />
          </figure>

          <article class="articleUser">
            <p><b>ID: </b> <%= users[i].id %></p>
            <p><b>NOMBRE: </b> <%= users[i].name %></p>
            <p><b>EMAIL: </b> <%= users[i].email %></p>
            <p><b>CONTRASEÑA: </b> <%= users[i].contrasena %></p>
          </article>
        </div>
        <% } %>
      </section>
    </main>

    <%- include ('./partials/footer') %>
  </body>
</html>
